{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'authorized/css/navbar.css' %} ">


{% load static %}
<nav class="navbar navbar-expand-lg">
  <a id="hello" class="navbar-brand">Hello, {{ request.user }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  class="nav-link" href="{% url 'welcome' %}">HOME </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="{% url 'todo' %}">TO-DO</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="{% url 'diary' %}"> DIARY</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="{% url 'calendar' %}"> CALENDAR</a>
      </li>
    </ul>
    <span class="navbar-text">
     <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </span>
  </div>
</nav>