{% load static  %}
<section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <h2>DailyHack Features</h2>
          <p>Time tracking is key to understanding how you spend your time, personally and in business. It is key to productivity, insight, and a healthy workflow. When you know which tasks take the most of your time, you can begin to reflect on whether that time is well spent. The most time consuming tasks are not necessarily the tasks that require the most effort to complete or bring the most value. Often, quite the contrary.</p>
        </div>
        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Prioritize Your Time</h4>
                  <p> Prioritization helps you focus on important tasks by keeping them in the highest priority which enables you to work on them with full attention and focus. Hence, the quality of the work is improved.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Benefits of Time Tracking</h4>
                  <p> Tracking your time will help you to stay away from such distraction as well as encourage you to complete a work quickly as you can see and measure the time data</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Set goals and stick to them</h4>
                  <p>Goals are like a map. They provide us with a starting point and step-by-directions on how to reach our destination. But, they also keep us focused. </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4> Improve productivity</h4>
                  <p>Time tracking apps reveal exactly how you get distracted and what’s slowing you down, to help you address personal and operational inefficiencies. Knowing everything’s being captured can also do wonders to lock productive focus.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-atom"></i>
                  <h4> Get to Like Ike</h4>
                  <p>Even if your list isn’t as overwhelming, it’s still challenging to prioritize your list. One strategy to employ here would be using a priority matrix, such as the popular Eisenhower Matrix</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-id-card"></i>
                  <h4> Communicate progress</h4>
                  <p>Apart from just collecting all your time data, time tracking apps also present it in helpful reports. It’s ideal for sharing status updates with managers or providing clients with an itemized breakdown of exactly where their money went.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
           {% load static %}
           <img src="{% static 'base/img/features.svg' %}" alt="My image">
          </div>
        </div>
      </div>
</section>