{% load static  %}
<section id="gallery" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Recomandation from our users!</h2>
          <p>Time tracking is key to understanding how you spend your time, personally and in business. It is key to productivity, insight, and a healthy workflow. When you know which tasks take the most of your time, you can begin to reflect on whether that time is well spent. The most time consuming tasks are not necessarily the tasks that require the most effort to complete or bring the most value. Often, quite the contrary.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                  {% load static %}
                <img src="{% static 'base/img/testimonials/testimonials-1.jpg' %}" alt="My image">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    It helps me track trends, target weaknesses, and increase efficiency.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">

                    {% load static %}
                <img src="{% static 'base/img/testimonials/testimonials-2.jpg' %}" alt="My image">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    By understanding the hours put into each phase/project, I can write better proposals and predictions for future projects
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% load static %}
                <img src="{% static 'base/img/testimonials/testimonials-3.jpg' %}" alt="My image">                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I can track my hours without ever thinking about it
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% load static %}
                <img src="{% static 'base/img/testimonials/testimonials-4.jpg' %}" alt="My image">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
It helps me keep track of what I’m doing, for who, and when without me having to stress that I will forget my hours or bill incorrectly                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% load static %}
                <img src="{% static 'base/img/testimonials/testimonials-5.jpg' %}" alt="My image">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I can see what jobs are profitable and where I should have charged more
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>