{% load static  %}
<section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Our platform will run one month free tail, and monthly cost is in details bellow. Our finance department after a long dicsuss deciced that our price are suitable and affordable for the specific services subscription! </p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box" data-aos="fade-right">
            <h3>Free</h3>
            <h4>$0<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> First time subscription</li>
              <li><i class="bx bx-check"></i> Limited number of usage to-do list</li>
              <li><i class="bx bx-check"></i>  Full access to Calendar </li>
              <li class="na"><i class="bx bx-x"></i> <span> Diary section</span></li>
              <li class="na"><i class="bx bx-x"></i> <span> Event notification remainder</span></li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box featured" data-aos="fade-up">
            <h3>Normal</h3>
            <h4>$12<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Up to 100 to-do list format</li>
              <li><i class="bx bx-check"></i> Full access to Calendar</li>
              <li><i class="bx bx-check"></i> Diary section limited numbers</li>
              <li><i class="bx bx-check"></i>  100 Event notification remainder</li>
                <li><i class="bx bx-check"></i> Recomandation on hack tips subscription</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box" data-aos="fade-left">
            <h3>VIP</h3>
            <h4>$23<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Unlimited usage of time</li>
              <li><i class="bx bx-check"></i> Unlimited usage of Diary section</li>
              <li><i class="bx bx-check"></i> Meditation newspaper subcription</li>
              <li><i class="bx bx-check"></i> Unlimited event notification remainder</li>
              <li><i class="bx bx-check"></i> Yoga club invitation </li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>
        </div>
      </div>
    </section>